# Dependências
node_modules/
npm-debug.log*

# Ambiente
.env
.env.local
.env.*.local

# Build
dist/
build/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
